@charset "utf-8";
/*---------------------------------------------------------------------------------------------------------------------

----------------------------------
Constitution
----------------------------------
1. Import
2. Mixin & Common
3. Padding / Margin
4.library
---------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------
	1.Import
/*---------------------------------------------------------------------------------------------------------------------*/
@import 'config/colors';
@import 'config/preset';
@import 'config/reboot';

/*	2.Mixin & Common
---------------------------------------------------------------------------------------------------------------------*/

@import 'config/variables';

/*	3.Padding / Margin
---------------------------------------------------------------------------------------------------------------------*/

//参考
//https://coliss.com/articles/build-websites/operation/css/css-spacing-system-and-relative-units.html#h202

:root {
    /* spacing values */
    --space-unit: 1em;
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs:  calc(0.375 * var(--space-unit));
    --space-xs:   calc(0.5 * var(--space-unit));
    --space-sm:   calc(0.75 * var(--space-unit));
    --space-md:   calc(1.25 * var(--space-unit));
    --space-lg:   calc(2 * var(--space-unit));
    --space-xl:   calc(3.25 * var(--space-unit));
    --space-xxl:  calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));

    /* components padding */
    --component-padding: var(--space-sm);
}

// optional - edit space unit and padding of all components at a specific breakpoint
@include md {
    :root {
        --space-unit: 1.25em;
        --component-padding: var(--space-md);
    }
}

/*	4.base
---------------------------------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------------------------------------*/
