@charset "utf-8";


/*---------------------------------------------------------------------------------------------------------------------
	1. Color
---------------------------------------------------------------------------------------------------------------------*/
/*	1.1 Main
---------------------------------------------------------------------------------------------------------------------*/
  /* ベースカラー */
  // $primary: #ea7c68;
  // // $primary:#e44121;
  // $key: #f79d1e;
  // $secondary: #abd1be;
  $primary: #ff0096;
  // $primary:#e44121;
  $key: #2f0075;
  $secondary: #C00384;
  $secondaryDark: darken($secondary,20%);
  $success: #088312;
  $warning: #e6e200;
  $white: #FDFDFD;
  $error: red;
  $underline: #ff0;

  /* テキストカラー(若い番号から使用頻度高) */
  $text200: #222;
  $text100: #2f0075;

  /* リンクカラー(若い番号から使用頻度高) */
  $link200: #{$primary};
  $link100: #{$text100};

  /* 無彩色(若い番号から使用頻度高) */
  $gray500: #818181;
  $gray400: lighten(#FDFDFD,16%);
  $gray300: lighten(#ddd9c1,16%);
  $gray200: #FDFDFD;
  $gray100: #ededed;


/*	1.2 Font
---------------------------------------------------------------------------------------------------------------------*/
//フォントサイズ 10px基準/rem
$fontSizeBase: 1.4;


//font
$fontFamilyBase: noto-sans-cjk-jp, sans-serif;
$fontFamilyEng200: din-condensed, sans-serif;
$fontFamilyEng100: mina, serif;

/*	1.3 Bg
---------------------------------------------------------------------------------------------------------------------*/

  /* 無彩色(若い番号から使用頻度高) */
  // $bg500: ,
  // $bg400: ,
  $bgOVR :rgba(107, 103, 94, 0.3);
  $bg300:rgb(249, 251, 252);
  $bg200: $key;
  // $bg100: #efecd9;
  $bg100: #FDFDFD;
