@charset "utf-8";
/*---------------------------------------------------------------------------------------------------------------------
	preset
---------------------------------------------------------------------------------------------------------------------*/
/*------------
 ▼ブレイクポイントのルール▼
 モバイルファーストとして設計
 *〜479px：SP縦
 *480px〜：SP横
 *750px〜tab
 *960px〜PC(小）
 *1140px〜PC（大）
------------*/
$exlg: 1340px;
$lg: 1140px;
$md: 1000px;
$sm: 750px;
$sp: 480px;

@mixin lg {
	@media (min-width: $lg) {
		@content;
	}
}

@mixin md {
	@media (min-width: $md) {
		@content;
	}
}

@mixin sm {
	@media (min-width: $sm) {
		@content;
	}
}

@mixin sp {
	@media (min-width: $sp) {
		@content;
	}
}
